/****************************************************************************************/
/* This file contains all of the css styling applied to different elements and classes  */
/****************************************************************************************/


/************************************************/
/* Contains the background for the overall body */
/************************************************/

body{
    background-image:url("../images/little_pluses.png")
}

/*************************************************/
/* Formats the picture that goes into the button */
/*************************************************/

.btn-pic {
    width: 30px;
    background-color:red;
}

/***********************************************************/
/* Formats elements whenever they are disabled (past hour  */
/***********************************************************/

.hr-past {
        background-color:gray;
}

/*************************************************************/
/* Formats elements whenever they are current (current hour  */
/*************************************************************/

.hr-current {
    background-color:red;
}


/*************************************************************/
/* Formats elements whenever they are future (future hour    */
/*************************************************************/

.hr-future {
    background-color:white;
}

