/****************************************************************************************/
/* This file contains all of the css styling applied to different elements and classes  */
/****************************************************************************************/


/**************************************************************/
/* Contains the background for classes that won't be changing */
/*************************************************************/

/* body{
    background-image:url("../images/little_pluses.png");
} */


body{background-color:turquoise;}

.activity-cont{
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
    margin-top:0px;
    margin-bottom:0px;
    border: 1px solid black;
}

.hour-cont {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color:white;
}

.btn-fmt {
    width:100%;
    padding-bottom:0px;
    height:100%;
    border-top-right-radius:15px;
    border-bottom-right-radius: 15px;
    border-top-color:white;
    border-right-color:white;
    border-bottom-color:white;  
}

.row-cont {
    height:40px;
}

/***********************************************************/
/* Formats elements whenever they are disabled (past hour  */
/***********************************************************/

.text-past{
    background-color:gray;
}

.frm-past {
    background-color:red;
}

/*************************************************************/
/* Formats elements whenever they are current (current hour  */
/*************************************************************/

.text-current {
    background-color:red;
}

.text-current:focus {
    background-color:red;
}



/*************************************************************/
/* Formats elements whenever they are future (future hour    */
/*************************************************************/



.hr-future {
    background-color:white;
}

